:host {
  .navbar {
    height: 80px;
    position: fixed;
    background-color: blueviolet;
    z-index: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    li {
      list-style: none;
      padding: 10px 20px;
      color: #0b3558;
      cursor: pointer;
      font-weight: 700;
    }
  }
}
